[submodule "vendor/Vulkan-Docs"]
	path = vendor/Vulkan-Docs
	url = https://github.com/KhronosGroup/Vulkan-Docs.git
[submodule "vk-ffi-gensrcs"]
	path = generated
	url = https://gitlab.com/matthew-mcallister/vk-ffi-gensrcs
